---
const totalPhotos = 5
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="/danidiet/css/style.css" />
	</head>
	<body>
		<script type="module" >
			import Controller from "/danidiet/public/js/Controller.js";
			const controller = new Controller();
		</script>
		{Array.from({length: totalPhotos}, (_, i) => i + 1).map((i) => (
			<div class="photo-wrapper">
				<img class="photo" src={`/danidiet/imgs/photo_${i}.webp`} alt="">
			</div>
		))}
	</body>
</html>
